*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: white;
  --foreground: rgb(24, 24, 24);
  --link: #007bff;
  --link-visited: #b45309;
  --border: rgb(146, 146, 146);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(32, 32, 32);
    --foreground: rgb(227, 227, 227);
    --link: #7dd3fc;
    --link-visited: #ca8a04;
    --border: rgb(146, 146, 146);
  }
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  width: 100%;
  max-width: 50rem;
  padding: 0 1rem 0 1rem;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited);
}

hr {
  border-top: 1px solid var(--border);
  border-bottom: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
