*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: white;
  --foreground: rgb(24, 24, 24);
  --link: rgb(45, 45, 104);
  --border: rgb(146, 146, 146);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(32, 32, 32);
    --foreground: rgb(227, 227, 227);
    --link: rgb(178, 178, 255);
    --border: rgb(146, 146, 146);
  }
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--link);
}

hr {
  border-top: 1px solid var(--border);
  border-bottom: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
